# Build directories
build/
bin/
obj/
lib/

# Compiled files
*.o
*.a
*.so
*.dylib
*.exe
*.out

# Debug / profiling
*.dSYM/
*.gcda
*.gcno
*.profraw

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Temporary files
*.tmp
*.log

# Personal notes
/docs/personal_notes.md

# Misc 
vgcore*  
*/*.mtx
*.bak
